<!DOCTYPE html>
<html>
    <head>
        <title>Site do Fábio</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        
        <h2 style="color:rgb(255, 209, 150);">INFORMAÇÕES ADICIONAIS</h2>
        <p>Contato: (81) 99966-8978 | E-mail: fabiomorais95@gmail.com</p>

        <a href="aula_sobre_django/">
            <button type="button" class="btn btn-primary">Aula DJANGO</button></a>
                                
        <a href="/contato/">
            <button type="button" class="btn btn-primary">Contato!</button></a>
        </body>
</html>